/*------------------------------------*\
    BASE
\*------------------------------------*/

.ajax-posts {
  position: relative;
  overflow: hidden;
}

.ajax-posts aside,
.ajax-posts__posts {
  opacity: 1;
 }

/* Change opacity to give the user feedback that new posts are loading */
.ajax-posts.is-waiting .ajax-posts__posts,
.ajax-posts.is-waiting aside {
  opacity: 0.5;
}

/*------------------------------------*\
    BUTTONS AND MESSAGES
\*------------------------------------*/

.ajax-posts__show-recipes-text,
.ajax-posts__hide-filters-text  {
  display: none;
}

.ajax-posts.is-expanded-filters .ajax-posts__filter-recipes-text {
  display: none;
}

.ajax-posts__screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*------------------------------------*\
    FILTERS
\*------------------------------------*/

.ajax-posts__filters ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ajax-posts__filter {
  display: block;
  text-decoration: none;
}

.ajax-posts__filter.is-active {
  text-decoration: underline;
}

/* toggle visibillity large filter lists */
.ajax-posts__filterlist li:nth-child(n+5) {
  display: none;
}

.ajax-posts__filterlist.is-collapsed li:nth-child(n+5) {
  display: block;
}

.ajax-posts__filter-toggle-hide {
  display: none;
}

.ajax-posts__filterlist.is-collapsed  .ajax-posts__filter-toggle-hide {
  display: block;
}

.ajax-posts__filterlist.is-collapsed  .ajax-posts__filter-toggle-show {
  display: none;
}

/*------------------------------------*\
    SPINNER
\*------------------------------------*/

.ajax-posts__spinner {
  clear: both;
  display: none;
  position: absolute;
  left: 50%;
  top: 70px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid black;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: ajax-posts-spinner 1.1s infinite linear;
  animation: ajax-posts-spinner 1.1s infinite linear;
}

.ajax-posts.is-waiting .ajax-posts__spinner {
  display: block;
}

@-webkit-keyframes ajax-posts-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ajax-posts-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}